@media only screen and (max-width: 550px) {

  .header, .news .main, .img-web, .info-box .img-container, .info-box .content h4, .info-box .content p, .exhibit .more, .exhibit .main .content, .web-video {
    display: none;
  }

  .img-mobile, .mobile-video, .mobile-header {
    display: block;
  }

  .banner .desc, .news .img-container, .info-box, .exhibit .main, .more, .mobile-header {
    width: 100%;
  }

  .box, .banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mobile-header {
    height: 64px;
    position: fixed;
    z-index: 99;
    background-color: white;
    opacity: 0.97;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
  }

  .icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }

  .banner {
    padding: 75px 10px 32px 10px;
  }

  .banner .img {
    width: 97.5%;
  }

  .banner h1 {
    font-size: 2.2em;
  }

  .start {
    width: 50%;
  }

  .more {
    margin-right: 0px;
  }

  .news .box:nth-child(1) {
    padding-top: 0px;
  }

  .news .more .content {
    width: 80%;
    padding: 10px 0 24px 0;
  }

  .news .more {
    padding-bottom: 8px;
  }

  .news .img-container img, .exhibit .img-container img {
    border-radius: 0px;
  }

  .news .box:nth-child(3) {
    background-color: inherit;
  }

  div.info {
    background-color: #4d80b4b3;
  }

  .info h2 {
    color: #fffffff7;
  }

  .info-box .content {
    height: 10px;
  }

  .exhibit.section {
    padding-top: 15px;
  }

  .exhibit.section .main {
    padding-bottom: 24px;
  }

  .footer {
    font-size: 13px;
  }

}
