a {
  text-decoration: none;
}

.header {
  display: flex;
  height: 64px;
  position: fixed;
  z-index: 99;
  background-color: white;
  width: 100%;
  opacity: 0.97;
}

.header .logo {
  flex: 1;
  margin: auto 0px auto 24px;
}

.header .logo img {
  vertical-align: middle;
}

.header .logo strong {
  font-weight: bold;
}

.header .logo span {
  height: 32px;
  text-transform: uppercase;
}

.header .links {
  margin: auto 24px auto 0;
}

.header .links ul {
  display: flex;
}

.header .links a {
  color: gray;
  padding: 0 8px;
}

/*-- Banner --*/
.banner {
  display: flex;
  padding: 96px 0 32px 25px;
  background-color: gray;
}

.banner .img {
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner .desc {
  padding: 70px 0 0 34px;
  width: 30%;
}

.banner h3 {
  padding: 25px 0;
}

.start {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  min-width: 20px;
  width: 50%;
}

.start:hover {
  background-color: red;
}

/*-- News --*/
.section {
  display: flex;
}

.main {
  width: 60%;
  padding: 32px 24px 32px 24px;
}

.news .main h2 {
  font-size: 2em;
  padding: 32px 0 24px 0;
}

.news .main p {
  padding-bottom: 24px;
}

.main img {
  width: 100%;
}

.more {
    width: 40%;
}

.news .more {
  border-left: 1px solid black;
}

.box {
  display: flex;
}

.news .box:nth-child(1) {
  border-bottom: 3px double black;
  padding-top: 15px;
}

.news .box:nth-child(3){
  background-color: gray;
}

.news .img-container, .exhibit .img-container {
  width: 35%;
  height: auto;
  padding: 16px;
}

.news .img-container img, .exhibit .img-container img {
  width: 100%;
}



.news .content, .exhibit .content {
  margin: auto;
  width: 65%;
}

.info-box .content {
  background-color: white;
  margin-top: -3px;
  padding: 16px 16px 24px 16px;
  height: 80px;
}

.title {
    padding-bottom: 16px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.info-box .content h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.info-box .content h4 {
  text-transform: uppercase;
  padding: 8px 0;
}

/*-- Info --*/
.info {
  padding: 32px 56px;
  background-color: gray;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
}

.info-box {
  width: 31%;
  padding: 16px;
}

.info img {
  width: 100%;
  height: auto;
}

/*-- Thesis Exhibit --*/
.exhibit-section {
  padding-top: 32px;
}

.exhibit-section .box:nth-child(1){
  background-color: gray;
}

.exhibit-section .box:nth-child(1) .img-container{
  width: 47%;
}


/*-- footer --*/
.footer {
  display: flex;
  border-top: 1px solid gray;
  padding: 16px 0 40px 0;
}

.copyright {
  flex: 1;
  margin-left: 24px;
  color: gray;
}

.terms {
  margin-right: 24px;
}

.terms a {
  color: gray;
}
